
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: grey;
}
a {
    text-decoration: none;
}
li {
    list-style: none;
    margin: 15px;
}

.link {
    color:purple
}
.practicas {
    color: white;
    margin: 20px;
    width: 150px;
    padding: 15px 10px;
    border-radius: 12px;
}